@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Merhaba Hoşgeldiniz</h1>
    <p>-Aşağıda Müşteri Listesi Bulunmaktadır-</p>
</div>
<nav>
    <ul>
        <li><a href="@Url.Action("MListele", "Home")">Müşteri Listesi</a></li>
    </ul>
</nav>
